In [24]:
import pandas as pd
import pickle

In [25]:
df1 = pd.read_csv('Data_train_test/Test1.csv')
df2 = pd.read_csv('Data_train_test/Test2.csv')
df3 = pd.read_csv('Data_train_test/Test3.csv')
df4 = pd.read_csv('Data_train_test/Test4.csv')

In [26]:
df = pd.concat([df1,df2,df3,df4])
df

,Cycle,OpSet1,OpSet2,OpSet3,SM1,SM2,SM3,SM4,SM5,SM6,...,SM13,SM14,SM15,SM16,SM17,SM18,SM19,SM20,SM21,labels
0,1,0.0023,0.0003,100,518.67,643.02,1585.29,1398.21,14.62,21.61,...,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,0
1,2,-0.0027,-0.0003,100,518.67,641.71,1588.45,1395.42,14.62,21.61,...,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,0
2,3,0.0003,0.0001,100,518.67,642.46,1586.94,1401.34,14.62,21.61,...,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,0
3,4,0.0042,0.0000,100,518.67,642.44,1584.12,1406.42,14.62,21.61,...,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,0
4,5,0.0014,0.0000,100,518.67,642.51,1587.19,1401.92,14.62,21.61,...,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41209,277,41.9991,0.8401,100,445.00,550.30,1364.40,1129.17,3.91,5.72,...,2388.50,8112.61,9.4427,0.02,331,2212,100.0,10.53,6.2620,2
41210,278,20.0026,0.7005,100,491.19,608.00,1494.75,1260.88,9.35,13.66,...,2388.33,8086.83,9.2772,0.02,366,2324,100.0,24.33,14.6486,2
41211,279,34.9988,0.8413,100,449.44,555.92,1370.65,1130.97,5.48,8.00,...,2388.64,8100.84,9.3982,0.02,336,2223,100.0,14.69,8.8389,2
41212,280,20.0027,0.7000,100,491.19,608.19,1489.11,1256.25,9.35,13.66,...,2388.37,8085.24,9.2727,0.03,366,2324,100.0,24.44,14.6887,2
41213,281,35.0075,0.8402,100,449.44,556.40,1378.58,1140.70,5.48,8.00,...,2388.59,8098.17,9.3964,0.02,335,2223,100.0,14.72,8.8502,2

In [27]:
uf_columns = ['OpSet1','OpSet2','OpSet3','SM1','SM5','SM6','SM9','SM10','SM14','SM16','SM18','SM19']

In [28]:
n_df = df.drop(columns=uf_columns)

In [29]:
n_df

,Cycle,SM2,SM3,SM4,SM7,SM8,SM11,SM12,SM13,SM15,SM17,SM20,SM21,labels
0,1,643.02,1585.29,1398.21,553.90,2388.04,47.20,521.72,2388.03,8.4052,392,38.86,23.3735,0
1,2,641.71,1588.45,1395.42,554.85,2388.01,47.50,522.16,2388.06,8.3803,393,39.02,23.3916,0
2,3,642.46,1586.94,1401.34,554.11,2388.05,47.50,521.97,2388.03,8.4441,393,39.08,23.4166,0
3,4,642.44,1584.12,1406.42,554.07,2388.03,47.28,521.38,2388.05,8.3917,391,39.00,23.3737,0
4,5,642.51,1587.19,1401.92,554.16,2388.01,47.31,522.15,2388.03,8.4031,390,38.99,23.4130,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41209,277,550.30,1364.40,1129.17,138.34,2212.35,42.30,130.87,2388.50,9.4427,331,10.53,6.2620,2
41210,278,608.00,1494.75,1260.88,334.75,2324.23,44.53,314.51,2388.33,9.2772,366,24.33,14.6486,2
41211,279,555.92,1370.65,1130.97,194.92,2223.57,42.33,182.76,2388.64,9.3982,336,14.69,8.8389,2
41212,280,608.19,1489.11,1256.25,333.15,2324.19,44.78,314.17,2388.37,9.2727,366,24.44,14.6887,2
41213,281,556.40,1378.58,1140.70,194.26,2223.50,42.08,181.88,2388.59,9.3964,335,14.72,8.8502,2

In [30]:
X_test = n_df.iloc[:,0:-1]
y_test = n_df.iloc[:,-1]

In [31]:
X_test

,Cycle,SM2,SM3,SM4,SM7,SM8,SM11,SM12,SM13,SM15,SM17,SM20,SM21
0,1,643.02,1585.29,1398.21,553.90,2388.04,47.20,521.72,2388.03,8.4052,392,38.86,23.3735
1,2,641.71,1588.45,1395.42,554.85,2388.01,47.50,522.16,2388.06,8.3803,393,39.02,23.3916
2,3,642.46,1586.94,1401.34,554.11,2388.05,47.50,521.97,2388.03,8.4441,393,39.08,23.4166
3,4,642.44,1584.12,1406.42,554.07,2388.03,47.28,521.38,2388.05,8.3917,391,39.00,23.3737
4,5,642.51,1587.19,1401.92,554.16,2388.01,47.31,522.15,2388.03,8.4031,390,38.99,23.4130
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41209,277,550.30,1364.40,1129.17,138.34,2212.35,42.30,130.87,2388.50,9.4427,331,10.53,6.2620
41210,278,608.00,1494.75,1260.88,334.75,2324.23,44.53,314.51,2388.33,9.2772,366,24.33,14.6486
41211,279,555.92,1370.65,1130.97,194.92,2223.57,42.33,182.76,2388.64,9.3982,336,14.69,8.8389
41212,280,608.19,1489.11,1256.25,333.15,2324.19,44.78,314.17,2388.37,9.2727,366,24.44,14.6887
41213,281,556.40,1378.58,1140.70,194.26,2223.50,42.08,181.88,2388.59,9.3964,335,14.72,8.8502

In [32]:
model = pickle.load(open('Model.pickle','rb'))

In [34]:
y_pred = model.predict(X_test)

In [36]:
accuracy_score(y_test,y_pred)

0.8962601409001211